{% extends 'base.html.twig' %}

{% block title %}Hello AnalysisController!{% endblock %}

{% block body %}
<div "main-container-analysis-page">
    <h1 id = "title_analysis">Analysis</h1>
    {# Affichage des données des genres - Optionnel #}
    {#
    {% for viewLine in viewGraphFiveDim %}
                <div>
                    <div>
                        <h3>Nom du genre : {{viewLine.label}}</h3>
                        <p>Nombre de jeux : {{viewLine.nbGames}}</p>
                        <p>Note moyenne : {{viewLine.avgReviewScore}}</p>
                    </div>
                </div>
    {% endfor %} 
    #}

    {# Créer une section par graphe qui contient le canvas et le texte descriptif/explicatif #}
    <section class="analysis-section-graph">
        <div class="graphFiveDim-container">
            <canva>{{render_chart(chartFiveDim)}}</canva>
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>


    <section class="analysis-section-graph">
        <div class="graphPeriodGenre-container">
            <canvas id="graphPeriodGenre"></canvas>
            <div id="radio-button-period-container">
            {{form_start(form)}}            
            {{ form_widget(form.testForm, {'attr': {'class': 'radio-btn-period-container', 'onclick' : "afficherGraphPeriodGenre()"}}) }}
            {{form_end(form)}} 
            </div>
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>


    <section class="analysis-section-graph">
        <div class="graph_R_ggplot2-container">
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/graphe_diagramme_Jeu_Annee.png')}}"></img>
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>

    <section class="analysis-section-graph">
        <div class="graph_R_ggplot2-container">
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/quatre_dimensions_copy_sold_revenue.png')}}"></img>
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>

    <section class="analysis-section-graph">
        <div class="graph_R_ggplot2-container">
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/GameAAARevPerHours.png')}}"></img>
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/GameAARevPerHours.png')}}"></img>
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/GameHobbyistRevPerHours.png')}}"></img>
            <img class="graphe_R" src="{{asset('RGraph/Analysis/results/GameIndieRevPerHours.png')}}"></img>
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>
    


    <section class="analysis-section-graph">
        <div class="graph_2-container">
            {# tentative d'insertion du graphe plotly sans succès #}
            {#{{ dump(asset('RGraph/results/analysis/graphe_cluster_projection_acp.html')) }}#}
            {#
            {{ dump("/assets/RGraph/results/analysis/Test-0fb7a252b21173803b187e50ed370952.html"|)}}
            {{dump(preg_replace('(-[A-Za-z0-9]+)(.html)$', '$2', "/assets/RGraph/results/analysis/Test-0fb7a252b21173803b187e50ed370952.html"))}}
            {{ dump(asset('RGraph/results/analysis/Test.html'))}}
            
            {{dump('test.hmtl'|slice(-4, 'test.hmtl'|length))}}
            {{dump('-0fb7a252b21173803b187e50ed370952.hmtl'|length)}}
            {{dump(asset('RGraph/results/analysis/Test.html')|slice(-38, asset('RGraph/results/analysis/Test.html')|length))}}
            {% include asset('RGraph/results/analysis/Test.html')|slice(0, -38)~".html" %}
            {{include(asset('RGraph/results/analysis/Test.html'))}}
            #}
        </div> 
        <div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.<p>
        </div>
    </section>

       



    


    <script>
        function afficherGraphPeriodGenre() {
            // Récupération de la valeur sélectionnée dans les radioButton.
            const var_period = document.querySelector('input[type="radio"][name="form[testForm]"]:checked').value;

            // Requête Ajax qui envoie la valeur de la constante précédente dans le controller avant
            // d'utiliser la valeur renvoyée par le controller pour construire un grahe et 
            // mettre à jour le canvas.
				$.ajax({
					url: "{{ path('app_analysis_ajax_graph_period') }}",
					type: "POST",
					dataType: "json",
					data: {
						period : var_period
					},
					success: function (response) {
                        console.log(response);
                        var ctx = $("#graphPeriodGenre");
                        
                        var myChart = new Chart(
                            ctx, 
                            {
                                type: 'line', 
                                data: { 
                                    labels: response.data.label, 
                                    datasets: response.data.datasets
                                }, 
                                options :{
                                    scales : {
                                        x:{
                                            title:{
                                                display : true, 
                                                text : var_period
                                            }
                                        }, 
                                        y:{
                                            title:{
                                                display : true, 
                                                text : 'Copies Sold (Millions)'
                                            }
                                        }
                                    }
                                } 
                            }
                        );
                        console.log(myChart);
                        myChart.update();
					},
                    error: function(jqXHR){         // Fonction à appeler si la requête échoue
						console.log("erreur affichage graphe PeriodGenre");
					}
			});
		}
    </script>


    
    
    
</div>
{% endblock %}
{% block lastScripts %}
    <script>
        document.querySelector('input[type="radio"][name="form[testForm]"]:checked').click();
    </script>
{% endblock %}