{% extends 'base.html.twig' %}

{% block title %}Hello AnalysisController!{% endblock %}

{% block body %}
<div "main-container-analysis-page">
    <h1>Analysis</h1>
    {% for viewLine in viewGraphFiveDim %}
                <div>
                    <div>
                        <h3>Nom du genre : {{viewLine.label}}</h3>
                        <p>Nombre de jeux : {{viewLine.nbGames}}</p>
                        <p>Note moyenne : {{viewLine.avgReviewScore}}</p>
                    </div>
                </div>
    {% endfor %} 
    <div class="graphFiveDim-container">
        <canva>{{render_chart(chartFiveDim)}}</canva>
    </div>    
    <section class="graphPeriodGenre-container">
        <canva id="graphPeriodGenre">{{render_chart(chartYearGenres)}}</canva>
    </section>   
    <div id="radio-button-period-container">
            {# <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtnPeriodChoose" id="year" checked>
                <label class="form-check-label" for="year">
                    Year
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtnPeriodChoose" id="month">
                <label class="form-check-label" for="month">
                    Month
                </label>
            </div> #}
            
        {{ form_widget(form.testForm, {'attr': {'class': 'radio-btn-period'}}) }}
        </div>
</div>
{% endblock %}
