{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!--Sidebar-->

<script>
    // Select game for dashboard - call we we click on a game to select him.
    function selectGameDashboard(var_appID) {
            $.ajax({
                url: "{{ path('app_recommandations_ajax_select') }}",
                type: "POST",
                dataType: "json",
                data: {
                    appID: var_appID
                },
                async: true,
                success: function (header_img) {
                    //console.log(header_img);
                    var chaineHtml = "\
                        <div class='game-img-overlay-success-dashboard' onclick='unselectGameDashboard("+var_appID+")'>\
                            <img class='check_icon' src=\"{{asset('icons/check_icon.png')}}\"></img>\
                        </div>\
                        <img class='game-img' src="+header_img+"></img>\
                        ";
                            
                    // intégration du contenu Html dans le squelette
                    $('#game_img_container_dashboard_'+ var_appID).html(chaineHtml);
                },
                error: function(jqXHR){         // Fonction à appeler si la requête échoue
                    console.log("erreur select");
                    console.log(var_appID);
                }
        });
    }



    // Remove a game from dashboard selection table - call we we click on a game to unselect him.
    function unselectGameDashboard(var_appID) {
            $.ajax({
                url: "{{ path('app_recommandations_ajax_unselect') }}",
                type: "POST",
                dataType: "json",
                data: {
                    appID: var_appID
                },
                async: true,
                success: function (arrayDataGame) {
                    // this var is about to change when we will change graphic aspect of the website.
                    var chaineHtml = "\
                        <div class='game-img-overlay-dashboard'  onclick='selectGameDashboard("+var_appID+")'>\
                        </div>\
                        <img class='game-img' src="+arrayDataGame.header_img+"></img>\
                    ";
                    
                    // intégration du contenu dans le squelette
                    $('#game_img_container_dashboard_'+ var_appID).html(chaineHtml);
                },
                error: function(jqXHR){         // Fonction à appeler si la requête échoue
                    console.log("erreur unselect");
                    console.log(var_appID);
                }
        });
    }
</script>

<h2>Games list : </h2>

<div class = "container_dashboard">
    <div class = 'sidebar-dashboard'>
        
        <div class = 'gamelist-dashboard'>
            <section class="games-block-container-dashboard">
                {% for dashboard_game in dashboard_games %}
                    <div class="game-block-dashboard" id="game_img_container_dashboard_{{dashboard_game.appID}}">
                        <div class='game-img-overlay-success-dashboard' onclick='unselectGameDashboard({{dashboard_game.appID}})'>
                            <img class='check_icon' src="{{asset('icons/check_icon.png')}}"></img>
                        </div>
                        <img class='game-img' id='game-img-dashboard' src={{dashboard_game.headerImg}}></img>
                    </div>

                    {% else %}
                    <li>Aucun enregistrement dans la BD</li>
                {% endfor %}
            </section>
        </div>
        <div class="button_back_dashboard">
            <a type="button" id="dashboard-to-recommandations-btn" class="btn btn-primary" href ="{{ path('app_recommandations') }}">Back</a>
        </div>
    </div>

    <div>

        <section class="graph-container">
            <canva id="HistogramDashboard">{{render_chart(barChartReviewScore)}}</canva>
            <canva id="BarChartAgeDashboard">{{render_chart(barChartAge)}}</canva>
        </section>

        <section class="graph-container">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section>
        <section class="graph-container">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section>

    </div>

</div>


<script>
    function afficherPieChartDashboard(){
        //$(document).ready(function() {
		//		$.ajax({
		//			url: "{{ path('app_analysis_ajax_graph_period') }}",
		//			type: "POST",
		//			dataType: "json",
		//			data: {
		//				period : var_period
		//			},
		//			success: function (response) {
          //              var ctx = $("#graphPeriodGenre");
            //            var myChart = new Chart(ctx, { type: 'line', data: { labels: response.label, datasets: response.datasets} });
//
  //                      myChart.update();
	//				},
      //              error: function(jqXHR){         // Fonction à appeler si la requête échoue
		//				console.log("erreur");
		//			}
		//		})
		//	});
    }


    function afficherHistogramDashboard(){
        //$(document).ready(function() {
		//		$.ajax({
		//			url: "{{ path('app_analysis_ajax_graph_period') }}",
		//			type: "POST",
		//			dataType: "json",
		//			data: {
		//				period : var_period
		//			},
		//			success: function (response) {
          //              var ctx = $("#graphPeriodGenre");
            //            var myChart = new Chart(ctx, { type: 'line', data: { labels: response.label, datasets: response.datasets} });
//
  //                      myChart.update();
	//				},
      //              error: function(jqXHR){         // Fonction à appeler si la requête échoue
		//				console.log("erreur");
		//			}
		//		})
		//	});
    }

    function afficherHistogrammeDashboard(){
        //$(document).ready(function() {
		//		$.ajax({
		//			url: "{{ path('app_analysis_ajax_graph_period') }}",
		//			type: "POST",
		//			dataType: "json",
		//			data: {
		//				period : var_period
		//			},
		//			success: function (response) {
          //              var ctx = $("#graphPeriodGenre");
            //            var myChart = new Chart(ctx, { type: 'line', data: { labels: response.label, datasets: response.datasets} });
//
  //                      myChart.update();
	//				},
      //              error: function(jqXHR){         // Fonction à appeler si la requête échoue
		//				console.log("erreur");
		//			}
		//		})
		//	});
    }

</script>

{% endblock %}