{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!--Sidebar-->



<h2 id = "title_dashboard">Games list : </h2>

<div class = "container_dashboard">
    <div class = 'sidebar-dashboard'>
        
        <div class = 'gamelist-dashboard'>
            <section class="games-block-container-dashboard">
                {% for dashboard_game in dashboard_games %}
                    <div class="game-block-dashboard" id="game_img_container_dashboard_{{dashboard_game.appID}}">
                        <img class='game-img' id='game-img-dashboard' src={{dashboard_game.headerImg}}></img>
                    </div>
                    {% else %}
                    <li>Aucun enregistrement dans la BD</li>
                {% endfor %}
            </section>
        </div>
        <div class="button_back_dashboard">
            <a type="button" id="dashboard-to-recommandations-btn" class="btn btn-primary" href ="{{ path('app_recommandations') }}">Back</a>
        </div>
    </div>


    <div>
        <p>This page provides an overview of the game selection choices that have been made. It offers a series of descriptive visual feedback elements to confirm or revise the list of video games selected for the upcoming campaign.</p>
        </br>

        {# KPI #}
        <section class="kpi">
            <h5>Key Performance Indicators</h5>
            </br>
            <div class="container_kpi">
                <div class="progress-container">
                    <div>
                        <h2>{{array_kpi.avg_price}} $</h2>
                        <p>average price</p>
                    </div>
                    <div>
                        <h2>{{array_kpi.avg_play_time}} h</h2>
                        <p>average play time</p>
                    </div>
                    <div>
                        <h2>{{array_kpi.median_copies_sold}}</h2>
                        <p>median of copies sold</p>
                    </div>
                    <div>
                        <h2>{{array_kpi.median_revenue}} $</h2>
                        <p>median of revenue</p>
                    </div>
                </div>
            </div>
        </section>

        <h5>Top {{array_kpi.data_top3|length}} games in this selection</h5>
        </br>
        <section class="podium">
            {% for game in array_kpi.data_top3 %}
                <div id="podium_class">
                    {% if loop.index == 1 %}
                        <img src="{{ asset('icons/gold_medal.png') }}" alt="Gold Medal" class="podium-medal">
                    {% elseif loop.index == 2 %}
                        <img src="{{ asset('icons/silver_medal.png') }}" alt="Silver Medal" class="podium-medal">
                    {% elseif loop.index == 3 %}
                        <img src="{{ asset('icons/bronze_medal.png') }}" alt="Bronze Medal" class="podium-medal">
                    {% endif %}
                    <img class='game-img podium-image' id='game-img-dashboard' src={{game.header_img}}></img>
                </div>
            {% endfor %}
        </section>

        <section>
            <h5>Bar Chart of age category</h5>
            <div class="graph-container container_graph_dashboard" id="BarChartAgeDashboard">
                <div id="premier_graph">
                    {{render_chart(barChartAge)}}
                </div>
                <div id="deuxieme_graph">
                    <p>The bar chart representing the different age categories ensures consistency between the campaign's target audience and the selected games. Here too, the selections made could be very specific or more general: this chart addresses this concern and provides clear feedback.</p>
                </div>
            </div>
        </section>

        <section>
            <h5>Pie Chart by Publisher Level</h5>
            <div class="graph-container container_graph_dashboard" id="pie_chart_pc_dashboard">
                <div id="premier_graph">
                    <img class="graphe_R" id="pie_chart_pc_dashboard" src="{{asset('RGraph/Dashboard/results/pie_chart_pc_dashboard.png')}}"></img>
                </div>
                <div id="deuxieme_graph">
                    <p>The following pie chart illustrates the balance of publisher levels within the selected set of games. Similar to the age-level chart, does the distribution of publisher levels across the games align appropriately with the campaign's objectives?</p>
                </div>
            </div>
        </section>

        <section>
            <h5>Scatter Plot by Price and Ratings</h5>
            <div class="graph-container container_graph_dashboard" id="scatter_plot_dashboard">
                <div id="premier_graph">
                    <img class="graphe_R" src="{{asset('RGraph/Dashboard/results/scatter_plot_dashboard.png')}}"></img>
                </div>
                <div id="deuxieme_graph">
                    <p>The scatter plot represents the position of the games based on their ratings and prices. The purpose of this chart is to identify, if any, groups of games within the selection. Depending on the prior decisions made, it helps to verify whether the selection strategy is leading towards a very specific set of games (compact scatter plot) or a more varied selection (dispersed scatter plot).</p>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}