{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!--Sidebar-->



<h2 id = "title_dashboard">Games list : </h2>

<div class = "container_dashboard">
    <div class = 'sidebar-dashboard'>
        
        <div class = 'gamelist-dashboard'>
            <section class="games-block-container-dashboard">
                {% for dashboard_game in dashboard_games %}
                    <div class="game-block-dashboard" id="game_img_container_dashboard_{{dashboard_game.appID}}">
                        <img class='game-img' id='game-img-dashboard' src={{dashboard_game.headerImg}}></img>
                    </div>
                    {% else %}
                    <li>Aucun enregistrement dans la BD</li>
                {% endfor %}
            </section>
        </div>
        <div class="button_back_dashboard">
            <a type="button" id="dashboard-to-recommandations-btn" class="btn btn-primary" href ="{{ path('app_recommandations') }}">Back</a>
        </div>
    </div>


    <div>
        <p>Cette page permet de rendre compte des choix de sélection de jeux qui ont été réalisé. Elles offrent une série de feedback visuel descriptif afin de confirmer ou non la liste des jeux vidéo sélectionnés pour la prochaine campagne. </p>
        </br>
        <section>
            <h5>Diagramme en barre catégorie d'age</h5>
            <div class="graph-container container_graph_dashboard" id="BarChartAgeDashboard">
                <div id="premier_graph">
                    {{render_chart(barChartAge)}}
                </div>
                <div id="deuxieme_graph">
                    <p>Le diagramme en barre qui reprend les différentes catégories d’âge permet de s’assurer qu’il existe une cohérence entre le public ciblé par la campagne et l’ensemble des jeux choisis. Là aussi, des choix de sélections très précis ou généraux ont pu être réalisés : ce diagramme répond à cette interrogation et vous offre un retour d’information explicite. </p>
                </div>
            </div>
        </section>

        <section>
            <h5>Diagramme circulaire niveaux des éditeurs</h5>
            <div class="graph-container container_graph_dashboard" id="pie_chart_pc_dashboard">
                <div id="premier_graph">
                    <img class="graphe_R" id="pie_chart_pc_dashboard" src="{{asset('RGraph/Dashboard/results/pie_chart_pc_dashboard.png')}}"></img>
                </div>
                <div id="deuxieme_graph">
                    <p>Le diagramme circulaire suivant permet d’observer l’équilibre des niveaux d’éditeurs au sein de l’ensemble de sélection des jeux. A l’image du diagramme des niveaux d’âge, est ce que la répartition des niveaux d’éditeurs au sein de l’ensemble des jeux est convenable pour la campagne ? </p>
                </div>
            </div>
        </section>

        <section>
            <h5>Nuage de points en fonction du prix et des notes</h5>
            <div class="graph-container container_graph_dashboard" id="scatter_plot_dashboard">
                <div id="premier_graph">
                    <img class="graphe_R" src="{{asset('RGraph/Dashboard/results/scatter_plot_dashboard.png')}}"></img>
                </div>
                <div id="deuxieme_graph">
                    <p>Le nuage de point représente la position des jeux en fonction de leurs notes et prix. L’intérêt de ce graphique est de connaitre, s’il existe, les groupes de jeux au sein de l’ensemble. En fonction des décisions pris en amont, il permet de vérifier si la direction menée tend vers une sélection de jeu très précises (nuage de point compact) ou plutôt varié (nuage de point dispersé).</p>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock %}