{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!--Sidebar-->



<h2 id = "title_dashboard">Games list : </h2>

<div class = "container_dashboard">
    <div class = 'sidebar-dashboard'>
        
        <div class = 'gamelist-dashboard'>
            <section class="games-block-container-dashboard">
                {% for dashboard_game in dashboard_games %}
                    <div class="game-block-dashboard" id="game_img_container_dashboard_{{dashboard_game.appID}}">
                        <img class='game-img' id='game-img-dashboard' src={{dashboard_game.headerImg}}></img>
                    </div>
                    {% else %}
                    <li>Aucun enregistrement dans la BD</li>
                {% endfor %}
            </section>
        </div>
        <div class="button_back_dashboard">
            <a type="button" id="dashboard-to-recommandations-btn" class="btn btn-primary" href ="{{ path('app_recommandations') }}">Back</a>
        </div>
    </div>

    <div>

        <section class="graph-container" id="HistogramDashboard">
            {{render_chart(barChartReviewScore)}}
        </section>
        <section class="graph-container" id="BarChartAgeDashboard">
            {{render_chart(barChartAge)}}
        </section>

        <section class="graph-container">
            <div id="pie_chart_pc_dashboard">
                <img class="graphe_R" id="pie_chart_pc_dashboard" src="{{asset('RGraph/Dashboard/results/pie_chart_pc_dashboard.png')}}"></img>
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section>
        <section class="graph-container">
            <div id="scatter_plot_dashboard">
                <img class="graphe_R" src="{{asset('RGraph/Dashboard/results/scatter_plot_dashboard.png')}}"></img>
            </div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section>

    </div>

</div>

{% endblock %}