{% extends 'base.html.twig' %}

{% block title %}Recommandations{% endblock %}



{% block body %}
<!--Sidebar-->
<div class = 'sidebar'>
</div>

    <!--Block title-->
    <div class = 'title_block'>
        <div>
            <h1>Title</h1>
            <h4>Subtitle</h4>
        </div>
        <input class="searchBar" type="text" placeholder="Search a game">
    </div>

    


    <!--Main-container-->
    <div class="recommandations-main-container">
        <section class="games-block-container">
        {% for game in games %}
            <div class="game-block">
                <div class="game-img-container" id="game_img_container_{{game.appID}}">
                    <div class='game-img-overlay'  onclick="selectGameDashboard('{{game.appID}}')">
                    {# Rajouter icones Figma + 
                    adapter font-size pour éviter d'avoir des surprises lorsque la taille d'écran change #}
                    <div class="overlay-content" id="overlay-left">
                        <div class="overlay-content-top">
                        <img class = "icon_recommandations_KPI" src="{{asset("icons/dollar_icon.png")}}"></img>
                        <p>{{game.revenue}}</br> dollars</p>
                        </div>
                        <div class="overlay-content-bottom">
                        <img class = "icon_recommandations_KPI" src="{{asset("icons/time_icon.png")}}"></img>
                        <p>{{game.AvgPlayTime}}</br> hours</p>
                        </div>
                    </div>
                    <div class="overlay-content" id="overlay-right">
                        <div class="overlay-content-top">
                        <img class = "icon_recommandations_KPI" src="{{asset("icons/caddie_icon.png")}}"></img>
                        <p>{{game.copiesSold}}</br>unit sales</p>
                        </div>
                        <div class="overlay-content-bottom">
                        <img class = "icon_recommandations_KPI" src="{{asset("icons/like_icon.png")}}"></img>
                        <p>{{game.recommandations}}</br>good reviews</p>
                        </div>
                    </div>
                    </div>
                    
                    <img class="game-img" src={{game.headerImg}}></img>
                </div>
                <img id="games_information_icon_recommandations" src="{{asset("icons/site_games_informations_icon.png")}}" type="button" onclick="afficherInfoGame('{{game.appID}}')"></img>
            </div>

            
            {% else %}
            <li>Aucun enregistrement dans la BD</li>
        {% endfor %}
        

        <!-- Ajax -->
        <script>
            // Modal
            function afficherInfoGame(var_appID) {
                    $.ajax({
                        url: "{{ path('app_recommandations_ajax_modal') }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            appID: var_appID
                        },
                        async: true,
                        success: function (arrayDataGame) {
                            //console.log(arrayDataGame[0]);
                            // On ecrit ici le script HTML définissant le contenu de la modal.
                            let warning = arrayDataGame[0].notes;
                            let chaine_vide = " ";
                            let warning_vide = chaine_vide.repeat(236);
                            let warning_affichage = ""
                            if (warning !== warning_vide) {
                                warning_affichage = "<p>Warning : "+warning+"</p>";
                            }
                            // Problèmes pour la récupération des genres et warning qui ne fonctionne pas correctement
                            var chaineHtml =   "<img class='game-img' src="+arrayDataGame[0].header_img+"></img>\
                                                <div class = 'container_modale_recommandations'>\
                                                    <div class = 'info_non_chiffre'>\
                                                        <p><b>Release date :</b>  "+arrayDataGame[0].release_date+"</p>\
                                                        <p><b>Publisher :</b>  "+arrayDataGame[0].publishers+"</p>\
                                                        <p><b>Developper :</b>  "+arrayDataGame[0].developers+"</p>\
                                                        <p><b>Genres :</b>  "+arrayDataGame[0].genres+"</p>\
                                                        <p><b>Categories :</b>  "+arrayDataGame[0].categories+"</p>\
                                                        "+warning_affichage+"\
                                                    </div>\
                                                    <div class = 'info_chiffre'>\
                                                        <p><b>Note :</b></br>"+arrayDataGame[0].review_score+"/100</p>\
                                                        <p><b>Price :</b>  </br>"+arrayDataGame[0].price+"$</p>\
                                                    </div>\
                                                </div>\
                                                <button type='button' class='btn btn-secondary active' id = 'cancel_recommandation' data-bs-dismiss='modal'>Close</button>";
                            
                            // intégration du contenu de la modal dans le squelette
                            $('#gameInfoContent').html(chaineHtml);
                            // affichage de la modal.
                            $('#gameInfoModal').modal('show');
                        },
                        error: function(jqXHR){         // Fonction à appeler si la requête échoue
                            console.log("erreur modal");
                        }
                });
            }

            // Dynamic count of selected games
            // No need to send data to the Controller, we just want to call the Ajax function of the Controller. 
            function countSelectedGame() {
                    $.ajax({
                        url: "{{ path('app_recommandations_ajax_count') }}",
                        type: "POST",
                        async: true,
                        success: function (accountSelectedGame) {
                            var chaineHtml = "\
                                <p>"+accountSelectedGame+"</p>\
                                ";
                            
                            // intégration du contenu de la modal dans le squelette
                            $('#index-continue-btn').html(chaineHtml);

                        },
                        error: function(jqXHR){         // Fonction à appeler si la requête échoue
                            console.log("erreur count");
                        }
                });
            }


            // Select game for dashboard - call we we click on a game to select him.
            function selectGameDashboard(var_appID) {
                    $.ajax({
                        url: "{{ path('app_recommandations_ajax_select') }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            appID: var_appID
                        },
                        async: true,
                        success: function (header_img) {
                            //console.log(header_img);
                            var chaineHtml = "\
                                <div class='game-img-overlay-success' onclick='unselectGameDashboard("+var_appID+")'>\
                                    <img class='check_icon' src=\"{{asset('icons/check_icon.png')}}\"></img>\
                                </div>\
                                <img class='game-img' src="+header_img+"></img>\
                                ";
                            
                            // intégration du contenu Html dans le squelette
                            $('#game_img_container_'+ var_appID).html(chaineHtml);
                            countSelectedGame();
                        },
                        error: function(jqXHR){         // Fonction à appeler si la requête échoue
                            console.log("erreur select");
                            console.log(var_appID);
                        }
                });
            }



            // Remove a game from dashboard selection table - call we we click on a game to unselect him.
            function unselectGameDashboard(var_appID) {
                    $.ajax({
                        url: "{{ path('app_recommandations_ajax_unselect') }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            appID: var_appID
                        },
                        async: true,
                        success: function (arrayDataGame) {
                            // this var is about to change when we will change graphic aspect of the website.
                            // We must add icons and change the css to make things good.
                            var chaineHtml = "\
                                <div class='game-img-overlay'  onclick='selectGameDashboard("+var_appID+")'>\
                                    <div class='overlay-content' id='overlay-left'>\
                                        <div class='overlay-content-top'>\
                                            <img class = 'icon_recommandations_KPI' src='{{asset('icons/dollar_icon.png')}}'></img>\
                                            <p>"+arrayDataGame.revenue+"</br> dollars</p>\
                                            </div>\
                                            <div class='overlay-content-bottom'>\
                                            <img class = 'icon_recommandations_KPI' src='{{asset('icons/time_icon.png')}}'></img>\
                                            <p>"+arrayDataGame.avg_play_time+"</br> hours</p>\
                                            </div>\
                                        </div>\
                                        <div class='overlay-content' id='overlay-right'>\
                                            <div class='overlay-content-top'>\
                                            <img class = 'icon_recommandations_KPI' src='{{asset('icons/caddie_icon.png')}}'></img>\
                                            <p>"+arrayDataGame.copies_sold+"</br> unit sales</p>\
                                            </div>\
                                            <div class='overlay-content-bottom'>\
                                            <img class = 'icon_recommandations_KPI' src='{{asset('icons/like_icon.png')}}'></img>\
                                            <p>"+arrayDataGame.recommandations+"</br> good reviews</p>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <img class='game-img' src="+arrayDataGame.header_img+"></img>\
                                </div>\
                            ";
                            
                            // intégration du contenu de la modal dans le squelette
                            $('#game_img_container_'+ var_appID).html(chaineHtml);
                            countSelectedGame();
                        },
                        error: function(jqXHR){         // Fonction à appeler si la requête échoue
                            console.log("erreur unselect");
                            console.log(var_appID);
                        }
                });
            }
        </script>

        <!-- Modal -->
        {#
        Ici, la modal est vide, on initialise uniquement le squelette qui est 
        ensuite rempli dans une requête AJAX.
        #}
        <div class="modal fade" id="gameInfoModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered infoModal">
            <div class="modal-content" id = "modal_synthese_recommandations">
            <div class="modal-body" id="gameInfoContent">
            </div>
            </div>
        </div>
        </div>


        </section>
        <div id="recommandations-to-dashboard-btn-container">
        <a type="button" id="recommandations-to-dashboard-btn" class="btn btn-primary" href ="{{ path('app_recommandations_dashobard') }}">Continue 🞂</a>
        <a type="button" id="index-continue-btn" class="btn btn-primary">0</a>
        </div>
    </div>
{% endblock %}
