{% extends 'base.html.twig' %}

{% block title %}Recommandations{% endblock %}



{% block body %}
<!--Sidebar-->
<div class = 'sidebar'>
</div>

    <!--Block title-->
    <div class = 'title_block'>
        <div>
            <h1>Title</h1>
            <h4>Subtitle</h4>
        </div>
        <input class="searchBar" type="text" placeholder="Search a game">
    </div>

    <!--Main-container-->
    <div class="recommandations-main-container">
        <section class="games-block-container">
        {% for game in games %}
            <div class="game-block">
                <div class="game-img-container">
                    <img class="game-img" src={{game.headerImg}}></img>
                </div>
                <img id="games_information_icon_recommandations" src="{{asset("icons/site_games_informations_icon.png")}}" type="button" onclick="afficherInfoGame('{{game.appID}}')"></img>
            </div>

            
            {% else %}
            <li>Aucuun enregistrement dans la BD</li>
        {% endfor %}
        

        <!-- Ajax-modal -->
        <script>
            function afficherInfoGame(var_appID) {
                $(document).ready(function() {
                    $.ajax({
                        url: "{{ path('app_recommandations_ajax_modal') }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            appID: var_appID
                        },
                        async: true,
                        success: function (arrayDataGame) {
                            // On ecrit ici le script HTML définissant le contenu de la modal.
                            var chaineHtml = "<p>"+arrayDataGame[0].game_name+"</p><button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>";
                            
                            // intégration du contenu de la modal dans le squelette
                            $('#gameInfoContent').html(chaineHtml);
                            // affichage de la modal.
                            $('#gameInfoModal').modal('show');
                        },
                        error: function(jqXHR){         // Fonction à appeler si la requête échoue
                            $("#mesRecettesContenu").html('<div class="text-danger">Erreur</div>');
                        }
                    })
                });
            }
        </script>

        <!-- Modal -->
        {#
        Ici, la modal est vide, on initialise uniquement le squelette qui est 
        ensuite rempli dans une requête AJAX.
        #}
        <div class="modal fade" id="gameInfoModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered infoModal">
            <div class="modal-content">
            <div class="modal-body" id="gameInfoContent">
            </div>
            </div>
        </div>
        </div>


        </section>
        <!--Modifier le href vers une nouvelle page -> nouveau controller -->
        <div id="recommandations-to-dashboard-btn-container">
        <a type="button" id="recommandations-to-dashboard-btn" class="btn btn-primary" href ="{{ path('app_analysis') }}">Continue 🞂</a>
        <a type="button" id="index-continue-btn" class="btn btn-primary" href ="{{ path('app_analysis') }}">0</a>
        </div>
    </div>
{% endblock %}
